<!DOCTYPE html>
<Html>
         <Head>
		      <Title>EFA CLI Automation</Title>
		 <Head>
		 <Body>
		     <p style="color:black;font-size:30px;">EFA-CLI Automation</p>
		    <Form Method="POST" Action="/uploader" enctype = "multipart/form-data">&nbsp;&nbsp

	         <input type = "file" name = "file" />
			 <br><br>&nbsp;&nbsp;&nbsp
                 <input type = "submit" value="Click here to upload file"/>
                  </Form>
                   <br><br>


                 <p style="color:green;font-size:20px;">Select Sheets to be generated</p><br>
                <Form Method="POST" Action="/generate">
                Tenant<Input Type="checkbox" name=sheet value="Tenant">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp
                Tenant VRF<Input Type="checkbox" name=sheet value="Tenant VRF">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp
                Tenant PO<Input Type="checkbox" name=sheet value="Tenant PO">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;
				<br><br><br>
		        Tenant EPG<Input Type="checkbox" name=sheet value="Tenant EPG">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp
				Tenant BGP Peer-Group<Input Type="checkbox" name=sheet value="Tenant BGP Peer-Group">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp
                Tenant BGP Peer<Input Type="checkbox" name=sheet value="Tenant BGP Peer">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp
				<br><br><br>
				Inventory<Input Type="checkbox" name=sheet value="Inventory">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp
                Breakout<Input Type="checkbox" name=sheet value="Breakout">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp
				Fabric<Input Type="checkbox" name=sheet value="Fabric">
                <br><br><br>
                <input type="submit" value="generate">
		    </Form>
		 <Body>
<Html>